<html>
    <body>
        <h1>New Book</h1>
        <p> Name: </p>
        <form action="{{ url_for('newBook', book_id=book_id) }}" method="POST">
            <input type="text" size="30" name="name">
            <input type="submit" value="Submit">
            <a href="{{ url_for('showBook') }}">Cancel</a>
        </form>
    </body>
</html>
